.container {
  padding: 0rem 1rem;
  
  margin: 0;
  
  box-sizing: border-box;
  width: 100%;
  
  height: 100%;
 
}


.contentWrapper {
  max-width: 64rem;
  margin: 0 auto;
}

.topcontainer{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.card {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  border: 1px solid #d1fae5; /* emerald-100 */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  
}

.verseBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.arabicSection {
  text-align: center;
}

.arabicText {
  font-size: 2.5rem; /* 30px */
  line-height: 1.75;
  font-family: 'Scheherazade', serif; /* Replace with your Arabic font */
  color: #1f2937; /* gray-800 */
  margin-bottom: 1rem;
}

.separator {
  width: 4rem;
  height: 2px;
  margin: 0 auto;
  background: linear-gradient(to right, #34d399, #14b8a6); /* emerald to teal */
}

.translationBox {
  background-color: rgba(236, 253, 245, 0.5); 
  /* padding: 1.5rem; */
  border-radius: 0.5rem;
}

.translationText {
  font-size: 1.1rem; /* 18px */
  line-height: 1.75;
  color: #374151; /* gray-700 */
  /* text-align: center; */
  font-style: italic;
}


.profileName {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  max-width: 7.25rem;
  min-width: 7.25rem;

  overflow: hidden;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

.profileName span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  direction: ltr;         /* important */
  text-align: right;
  display: block;
  width: 100%;
}

.settingscon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings{
  /* padding: 0.5rem; */
  font-size: 1.5rem;
}


/* between */

.trans{
  /* border: 2px solid red; */
}

.trans p{
  position: relative;
  left: 0.7rem;
  top: 0.5rem;
  z-index: 1;
  width: fit-content;
  background-color: rgb(188, 252, 241);
  padding-left: 2px;
  padding-right: 2px;
  color: black;
  border-radius: 4px;
  font-size: 0.8rem;
}



