.hamburger {
  font-size: 25px;
  /* position: fixed; */
  top: 15px;
  left: 15px;
  z-index: 1001;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger:focus{
   -webkit-tap-highlight-color: transparent;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #111;
  color: white;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.open {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.list{
  border-bottom: 1px solid #333;
  padding: 15px 20px;
  cursor: pointer;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  
}

.language{
  
  padding: 15px 20px;
  background-color: transparent;
  color: white;
  
  border: none;
  border-bottom: 1px solid #333;

  width: 95%;
  /* border: 1px solid #ccc; */
  /* font-size: 16px; */
}

.logout{
  cursor: pointer;
  border-bottom: 1px solid #333;
  padding: 15px 20px;
}


.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.closeBtn:focus{
  -webkit-tap-highlight-color: transparent;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}




.droplist{
  padding-left: 2rem;
  overflow: hidden;
  color: #aeaeae;
  transition: color 0.2s, background-color 0.2s;
}